@charset "UTF-8";

// ---------------------------------------------------
// Project's global styles: sizes, colors, fonts etc.
// ---------------------------------------------------


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px; // for future rem calc
    line-height: 1.15;
}
body {
    font: {
        size: 14px;
        weight: normal;
        family: $font-fira_sans;
    }
    overflow-x: hidden;
    overflow-y: auto;
    color: $color-text;
    background: $color-light;
    padding-top: 60px;
    min-width: 320px;
    @extend %reset-margin;
    @extend %reset-padding;
}
p {
    @extend %reset-margin;
}
h1, h2, h3, h4, h5, h6 {
    @extend %reset-margin;
}
ul, ol {
    list-style: none;
    @extend %reset-margin;
    @extend %reset-padding;
}
a {
    outline: none;
    text-decoration: none;
    font: {
        family: $font_fira_sans;
    }
    @include double-transition(background, 300ms, ease-in-out, 0s, color, .3s, ease-in-out, 0s);
    &:hover, &:active {

    }
}
svg {
    display: block;
    width: 100%;
    height: 100%;
}
input[type="search"] {
    display: block;
    outline: none;
    font: {
        size: 14px;
        family: $font_fira_sans;
        weight: normal;
    }
}
button {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    @include double-transition(background, 300ms, ease-in-out, 0s, color, 300ms, ease-in-out, 0s);
    font: {
        family: $font_fira_sans;
        size: 14px;
        weight: normal;
    }
}