@charset "UTF-8";

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-text: #495057;
$color-light: #e9ecef;
$color-light-2: #f8f9fa;

// Theme colors

$color-main: #1d2939;
$color-main-dark: #1a2432;
$color-main-dark-2: #18222f;
$color-main-dark-3: #141d28;
$color-gray: #868e96;
$color-gray-2: #adb5bd;

$color-red: #dc3545;
$color-green: #1CAF9A;
$color-blue: #17A2B8;
$color-orange: #f49917;


// Fonts
$font_fira_sans: 'Fira Sans', Arial, Tahoma, sans-serif;

// Sizes
$sidebar_width: 240px;
$header_height: 60px;



// Breakpoints

$tablet: 1279px;
$mobile: 767px;
